.best-selling-products-table {
  width: 100%;
  border-collapse: collapse;
}

.best-selling-products-table th,
.best-selling-products-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.best-selling-products-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.best-selling-products-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.best-selling-products-table tr:hover {
  background-color: #ddd;
}
