{#
/**
 * @file
 *
 * Best selling products block template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - products: The rendered products.
 *
 * @ingroup themeable
 */
#}

{% for product in products %}
  {{ product }}
{% endfor %}
